@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: theme('colors.navy');
  background: theme('colors.beige');
  width: 100vw;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.card {
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d; 
  transition: 600ms ease-in-out;
  transform: perspective(1000px) rotateY(var(--rotate-y, 0))
   translateY(var(--translate-y, 0));
}

.card:hover {
  --translate-y: -10px;
}

.card.flip {
  --rotate-y: 180deg;
  --rotate-back-y: 0;
}

.card.flip > .front {
  transition-delay: 300ms;
  opacity: 0;
}

.card.flip > .back {
  transition-delay: 300ms;
  opacity: 1;
}

.card .front, 
.card .back {
  position: absolute;
}

.card .front {
  transition-delay: 300ms;
  opacity: 1;
}

.card .back {
  transition-delay: 300ms;
  opacity: 0;
  rotate: y 180deg;
}

/* INVERTED RADIUS BUTTON 
creds: https://blog.logrocket.com/create-fancy-corners-css/#:~:text=use%20SVG.-,4.%20Inverted%20corners,-You%20can%20use */
.box1, .box2 {
  display: flex;
  overflow: hidden;
  z-index: 200;
}
.box1 {
  height: 4em;
  width: 10em;
  mask: radial-gradient(20px at 40px 40px, transparent 98%, black) -40px -40px;

}
.box2 {
  height: 4em;
  width: 14em;
  mask: radial-gradient(20px at 40px 40px, transparent 98%, black) -40px -40px;
  transform: scale(0.9);
}
.box1 span {
  color: theme('colors.navy');
  padding: 1em;
}

/* CHECKERED creds: https://codepen.io/lloeki/pen/bGpRzb */
.checkered {
  background-color: transparent;
  background-size: 50px 50px;
  background-position: 0 0, 25px 25px;
  background-image: linear-gradient(45deg, theme('colors.pink') 25%, transparent 25%, transparent 75%, theme('colors.pink') 75%, theme('colors.pink')),
                    linear-gradient(45deg, theme('colors.pink') 25%, transparent 25%, transparent 75%, theme('colors.pink') 75%, theme('colors.pink'));
  
}
