@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: theme('colors.gray');
  background: theme('colors.beige');
  width: 100vw;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.card {
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d; 
  transition: 600ms ease-in-out;
  transform: perspective(1000px) rotateY(var(--rotate-y, 0))
   translateY(var(--translate-y, 0));
}

.card:hover {
  --translate-y: -10px;
}

.card.flip {
  --rotate-y: 180deg;
  --rotate-back-y: 0;
}

.card.flip > .front {
  transition-delay: 300ms;
  opacity: 0;
}

.card.flip > .back {
  transition-delay: 300ms;
  opacity: 1;
}

.card .front, 
.card .back {
  position: absolute;
}

.card .front {
  transition-delay: 300ms;
  opacity: 1;
}

.card .back {
  transition-delay: 300ms;
  opacity: 0;
  rotate: y 180deg;
}
