@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: theme('colors.navy');
  background: theme('colors.beige');
  width: 100vw;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.card {
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d; 
  transition: 600ms ease-in-out;
  transform: perspective(1000px) rotateY(var(--rotate-y, 0))
   translateY(var(--translate-y, 0));
}

.card:hover {
  --translate-y: -10px;
}

.card.flip {
  --rotate-y: 180deg;
  --rotate-back-y: 0;
}

.card.flip > .front {
  transition-delay: 300ms;
  opacity: 0;
}

.card.flip > .back {
  transition-delay: 300ms;
  opacity: 1;
}

.card .front, 
.card .back {
  position: absolute;
}

.card .front {
  transition-delay: 300ms;
  opacity: 1;
}

.card .back {
  transition-delay: 300ms;
  opacity: 0;
  rotate: y 180deg;
}

/* INVERTED RADIUS BUTTON */
.box1 {
  background: transparent;
  height: 4em;
  width: 10em;
  position: relative;
  overflow: hidden;
  z-index: 1000;
}
.box1:before {
  content: "";
  display: block;
  background: theme('colors.beige');
  position: absolute;
  top: -12px;
  left: -12px;
  width: 24px;
  height: 24px;
  border-radius: 100%;
  z-index: 1000;
}
.box1:after{
  content: "";
  display: block;
  background: theme('colors.beige');
  position: absolute;
  top: -12px;
  right: -12px;
  width: 24px;
  height: 24px;
  border-radius: 100%;
  z-index: 1000;
}
.box1 .box2:before {
  content: "";
  display: block;
  background: theme('colors.beige');
  position: absolute;
  bottom: -12px;
  left: -12px;
  width: 24px;
  height: 24px;
  border-radius: 100%;
  z-index: 1000;
}
.box1 .box2:after{
  content: "";
  display: block;
  background: theme('colors.beige');
  position: absolute;
  bottom: -12px;
  right: -12px;
  width: 24px;
  height: 24px;
  border-radius: 100%;
  z-index: 1000;
}
.box3 {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 6px;
  padding: 0em;
  position: absolute;
  overflow: hidden;
  z-index: 100;
}
.box4 {
  border: 3px solid theme('colors.navy');
  background: theme('colors.gray');
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
  z-index: 100;
}
.box4:before {
  content: "";
  display: block;
  border: 3px solid theme('colors.navy');
  background: theme('colors.beige');
  position: absolute;
  top: -24px;
  left: -24px;
  width: 36px;
  height: 36px;
  border-radius: 100%;
  z-index: 100;
}
.box4:after{
  content: "";
  display: block;
  border: 3px solid theme('colors.navy');
  background: theme('colors.beige');
  position: absolute;
  top: -24px;
  right: -24px;
  width: 36px;
  height: 36px;
  border-radius: 100%;
  z-index: 100;
}
.box4 .box5:before {
  content: "";
  display: block;
  border: 3px solid theme('colors.navy');
  background: theme('colors.beige');
  position: absolute;
  bottom: -24px;
  left: -24px;
  width: 36px;
  height: 36px;
  border-radius: 100%;
  z-index: 100;
}
.box4 .box5:after{
  content: "";
  display: block;
  border: 3px solid theme('colors.navy');
  background: theme('colors.beige');
  position: absolute;
  bottom: -24px;
  right: -24px;
  width: 36px;
  height: 36px;
  border-radius: 100%;
  z-index: 100;
}
.box1 span {
  color: theme('colors.navy');
  padding: 1em;
}
